<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Suncat Normalisation Admin{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
    <div id="content">
        {% block foot %}{% endblock %}
    </div>
</body>
{% block js %}

{% endblock %}
</html>