{% extends "base.html" %}

{% comment %}
An example template that renders a form where an AddAnotherWidgetWrapper is present.
{% endcomment %}

{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}
{{ block.super }}
<script src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>

{% block bodyclass %}change-list{% endblock %}

{% block content %}
<div>
    Pick an owner or add a new one:
</div>

{{ form.media }}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Picked" %}" />
</form>

{% endblock %}