{% block head %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/jsil8n.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
	<link href="{% static 'admin/css/widgets.css' %}" media="all" type="text/css" rel="stylesheet">
	{% endblock %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}

