{% block messages %}
    {% if message %}
        {% for message in messages %}
<div class='imp_message'>{{ message }}</div>
{% endfor %}{% endif %}
{% endblock %}

{% if gconfig_list %}
    <ul>
    {% for gconfig in gconfig_list %}
		<li><a href="{% url 'suncat:gConfEdit' gconfig.gconf_id %}">{{ gconfig.name }}</a></li>
    
    {% endfor %}
    </ul>
{% else %}
    <p>No global config definitions are available.</p>
{% endif %}