{% block head %}
	{{ form.media }}
	<script type="text/javascript" src="{% url admin:jsi18n %}"></script>
{% endblock %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</ul>
{% endif %}

{% include "suncat/genericFormRenderer.html" %}
