{% block messages %}
    {% if message %}
        {% for message in messages %}
<div class='imp_message'>{{ message }}</div>
{% endfor %}{% endif %}
{% endblock %}

{% if iconfig_list %}
    <ul>
    {% for iconfig in iconfig_list %}
		<li><a href="{% url 'suncat:iConfEdit' iconfig.iconf_id %}">{{ iconfig.inst.name }}, {{iconfig.global_config.name}}</a></li>
    
    {% endfor %}
    </ul>
{% else %}
    <p>No global config definitions are available.</p>
{% endif %}