{% block messages %}
    {% if message %}
        {% for message in messages %}
<div class='imp_message'>{{ message }}</div>
{% endfor %}{% endif %}
{% endblock %}

<a href="{% url 'suncat:gconfIndex' %}">Global Config</a><br />
<a href="{% url 'suncat:iconfIndex' %}">Inst Config</a><br />
<a href="{% url 'suncat:nconfIndex' %}">Normalisation Config</a><br />
<a href="{% url 'login' %}">Login</a><br />