{% block messages %}
    {% if message %}
        {% for message in messages %}
<div class='imp_message'>{{ message }}</div>
{% endfor %}{% endif %}
{% endblock %}

{% if nconfig_list %}
    <ul>
    {% for nconfig in nconfig_list %}
		<li><a href="{% url 'suncat:nConfEdit' nconfig.nconf_id %}">{{ nconfig.inst_conf.inst.name }}, {{nconfig.marcfield.marc_code}}</a></li>
    
    {% endfor %}
    </ul>
{% else %}
    <p>No global config definitions are available.</p>
{% endif %}