{% block head %}
	{{ form.media }}
{% endblock %}
{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/jsi18n.js' %}"></script>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</ul>
{% endif %}

{% include "suncat/genericFormRenderer.html" %}
